{{#courseindex}}
<div class="drawer-toggler drawer-left-toggle open-nav d-print-none">
    <button class="btn icon-no-margin" data-toggler="drawers" data-action="toggle"
        data-target="theme_skilllab-drawers-courseindex" data-toggle="tooltip"
        data-placement="right" title="{{#str}}opendrawerindex, core{{/str}}">
        <span class="sr-only">{{#str}}opendrawerindex, core{{/str}}</span>
        {{#pix}} t/index_drawer, moodle {{/pix}}
    </button>
</div>
{{/courseindex}}