{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_yipl/blocks/contact-us
}}


<div {{#block_yipl_id}}id="block-yipl-{{block_yipl_id}}" {{/block_yipl_id}}
    class="container block-yipl-contact-us ">
    <div class="block-yipl-contact-us-wrap">
    <div class="col-lg-6 contact-us-info">
        <h2> {{title}} </h2>
        {{#map_location_src}}
        <div id="map-canvas">
        <iframe src="{{{map_location_src}}}" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        {{/map_location_src}}
        <div class="contact-detail">
            <div class="location">
                <img src="{{{config.wwwroot}}}/theme/yipl/pix/icons/map.svg" alt="map-icon">
                <p> 
                    <span>{{contact_name}}</span>
                    <span>{{location_address}}</span>
                </p>
            </div>
            <div class="contact-detail-tel-mail">
                {{#phone_number_exist}}
                <div class="contact-tel">
                    <img src="{{{config.wwwroot}}}/theme/yipl/pix/icons/phone.svg" alt="phone-icon">
                    {{#phone_number}}
                    <p>
                        <a href="tel:{{.}}">{{.}}</a>
                    </p>
                    {{/phone_number}}
                </div> 
                {{/phone_number_exist}}
                {{#mail}}
                <div class="contact-email">
                    <img src="{{{config.wwwroot}}}/theme/yipl/pix/icons/email.svg" alt="email-icon">
                    <p>
                        <a href="mailto:{{mail}}">{{mail}}</a>
                    </p>
                </div>
                {{/mail}}
            </div>
        </div>
    </div>
    <div class="col-lg-6 contac-us-form">
        <form action="{{{form_action}}}" method="post" class="contact-us" id="contact_form">
            <input type="hidden" name="recipient" id="recipient" value="{{contact_form_recipient}}">
            <input type="hidden" name="send_email" id="send_email" value="1">
            <input type="hidden" id="sesskey" name="sesskey" value="">
            <script>document.getElementById("sesskey").value = M.cfg.sesskey;</script>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name" id="namelabel">{{#str}}fullname{{/str}}</label>
                        <input class="form-control" id="name" name="name" type="text" title="Minimum 3 letters/spaces."
                            required="required" value="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="email" id="emaillabel">{{#str}}email{{/str}}</label>
                        <input id="email" name="email" type="email" required="required" title="A real email address."
                            value="" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="subject" id="subjectlabel">{{#str}}subject,theme_yipl{{/str}}</label>
                        <input id="subject" name="subject" type="text" title="Minimum 5 characters." required="required"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="message" id="messagelabel">{{#str}}message,theme_yipl{{/str}}</label>
                        <textarea id="message" name="message" rows="5" title="Minimum 5 characters." required="required"
                            class="form-control"></textarea>
                    </div>
                    <div class="form-group mb0">
                        <button type="submit" name="submit" id="submit" class="btn btn-primary btn-submit"> {{#str}}submit_message, theme_yipl{{/str}} </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>