# Ignore npm-gulp packages
node_modules

# Ignore .htaccess
.htaccess

# Ignore core phpcs.xml and phpunit.xml.
core/phpcs.xml
core/phpunit.xml
.idea
.vscode

# Ignore OSX files
._.DS_Store
.DS_Store
*.DS_Store
._*.DS_Store
.unison*
.history
__MACOSX

*.zip
*.tar.gz

# Secrets
.env
tmp
private

# Miscellanous
*.sql
_core
dl

vendor

# Ignore everything at root
/*

# Allow directory traversal
# !*/

# ==============================================================

# Allow  directory
!/moodle-project-setup/
!/public/
!.gitignore

# ==============================================================

# Ignore everything inside public
/public/*

# ==============================================================

# Allow blocks directory
!/public/blocks/
# Ignore everything inside public/blocks
/public/blocks/*
# Allow only selected blocks
!/public/blocks/yipl/

# ==============================================================

# Allow theme directory
!/public/theme/
# Ignore everything inside public/theme
/public/theme/*
# Allow only selected theme
!/public/theme/skilllab/
!/public/theme/yipl/

# ==============================================================
