body {
  font-family: sans-serif;
  font-style: normal !important;
}

.h2 {
  color: #001e2d;
  font-size: 32px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 40px; /* 125% */
}

.truncated-container {
  position: relative;
}

.truncated-text {
  width: 135px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.truncated-tooltip {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  min-width: 150px;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  color: #000;
  text-align: center;
  max-width: 220px;
  font-weight: 400;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: white;
    left: 50%;
    height: 10px;
    width: 10px;
  }
}
.truncated-container:hover .truncated-tooltip {
  display: block;
}
