{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/activity_navigation

    Displays the activity navigation

    Context variables required for this template:
    * prevlink Object - The action link data for the previous activity link. Corresponds with the core/action_link context.
    * nextlink Object - The action link data for the next activity link. Corresponds with the core/action_link context.
    * activitylist Object - The data for the activity selector menu. Corresponds with the core/url_select context.

    Example context (json):
    {
        "prevlink": {
            "disabled": false,
            "url": "#",
            "id": "test-id-1",
            "classes": "btn btn-link",
            "attributes": [
                {
                    "name": "title",
                    "value": "Activity A"
                }
            ],
            "text": "◄ Activity A"
        },
        "nextlink": {
            "disabled": false,
            "url": "#",
            "id": "test-id-2",
            "classes": "btn btn-link",
            "attributes": [
                {
                    "name": "title",
                    "value": "Activity C"
                }
            ],
            "text": "Activity C ►"
        },
        "activitylist": {
            "id": "url_select_test",
            "action": "#",
            "options": [
                {"name": "Jump to...", "value": "#0"},
                {"name": "Activity A", "value": "#1"},
                {"name": "Activity B", "value": "#2"},
                {"name": "Activity C", "value": "#3"}
            ]
        }
    }
}}
<div class="mt-5 mb-1 activity-navigation container-fluid">
    <div class="row">
        {{$column1}}
            <div class="prev-link">
                {{#prevlink}}
                    {{^disabled}}
                        <a href="{{{url}}}" id="{{id}}" class="{{classes}} btn-outline-secondary" {{#attributes}} {{name}}="{{value}}" {{/attributes}}>
                          Previous
                        </a>
                    {{/disabled}}
                    {{#disabled}}
                        <span class="currentlink {{classes}}" {{#attributes}} {{name}}="{{value}}" {{/attributes}}>
                            {{text}}
                        </span>
                    {{/disabled}}
                {{/prevlink}}
            </div>
        {{/column1}}

        {{$column3}}
            <div class="next-link">
                {{#nextlink}}
                    {{^disabled}}
                        <a href="{{{url}}}" id="{{id}}" class="{{classes}}  btn-outline-secondary  {{#next_link_lock}} locked-cm {{/next_link_lock}}" {{#attributes}} {{name}}="{{value}}" {{/attributes}}>
                            Next 
                            {{#next_link_lock}}
                                <svg fill="#6A7B8B" height="16px" width="16px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="XMLID_509_"> <path id="XMLID_510_" d="M65,330h200c8.284,0,15-6.716,15-15V145c0-8.284-6.716-15-15-15h-15V85c0-46.869-38.131-85-85-85 S80,38.131,80,85v45H65c-8.284,0-15,6.716-15,15v170C50,323.284,56.716,330,65,330z M180,234.986V255c0,8.284-6.716,15-15,15 s-15-6.716-15-15v-20.014c-6.068-4.565-10-11.824-10-19.986c0-13.785,11.215-25,25-25s25,11.215,25,25 C190,223.162,186.068,230.421,180,234.986z M110,85c0-30.327,24.673-55,55-55s55,24.673,55,55v45H110V85z"></path> </g> </g></svg>                            
                            {{/next_link_lock}}
                        </a>
                    {{/disabled}}
                    {{#disabled}}
                        <span class="currentlink {{classes}}" {{#attributes}} {{name}}="{{value}}" {{/attributes}}>
                            {{text}}
                        </span>
                    {{/disabled}}
                {{/nextlink}}
            </div>
        {{/column3}}
    </div>
</div>

{{> theme_skilllab/skilllab_courses/popup }}