{{#courseindex}}
<div class="course-side-bar">
    {{{courseindex}}}
</div>
{{/courseindex}}

{{#js}}
require(['theme_skilllab/sidebar/sidebar'],
function(sidebar) {
sidebar.init('#course-index-cm-{{cmid}}','{{student_user}}');
});
{{/js}}