{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_yipl/parts/home-banner-popup
}}


{{#banner_popup_enable}}
<div id="banner_popup" class="home-banner-popup banner_popup container">
    <div class="popup">
        <div class="content_popup">
            <span class="close_popup">&times;</span>
            {{#banner_popup_link}}
            <a href="{{banner_popup_link}}">
                <img src="{{banner_popup_image}}"
                    alt="banner popup image">
            </a>
            {{/banner_popup_link}}
            {{^banner_popup_link}}
            <img src="{{banner_popup_image}}"
                    alt="banner popup image">
            {{/banner_popup_link}}
        </div>
    </div>
</div>
{{/banner_popup_enable}}
