.yipl-course-layout {
  &.row {
    margin-inline: 0;
  }
}

.course-detail-wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 80px;
  flex-wrap: wrap;

  .block_yipl {
    border-radius: 0;
    border: 0;
  }

  .yipl-course-main-area {
    flex-basis: 54%;
  }

  .block_yipl-course-info-about-course {
    background-color: transparent;
  }

  .block-header {
    padding-top: 0 !important;
    padding-inline: 0 !important;
    margin-bottom: 40px;

    h3 {
      font-size: 36px;
      font-weight: 600;
      color: $N-40;
    }
  }

  .card-text {
    margin-top: 0 !important;
  }
  .yipl_intro_video {
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    padding-top: 57%;
    margin-bottom: 40px;

    .card-body {
      padding: 0 !important;
    }
    .row {
      margin-inline: 0 !important;
    }

    iframe {
      width: 100%;
      position: absolute;
      height: 100%;
      inset: 0;
      object-fit: cover;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: $N-40;
    margin-bottom: 1.5rem;
  }

  .yipl_target_audiences {
    .title {
      font-size: 24px;
      line-height: 1.2;
      color: #455a64;
      margin-bottom: 12px;
      display: block;
    }
  }

  .yipl-course-main-area .course-content {
    .section-item {
      border-radius: 4px;
      padding: 12px 16px;
    }

    .course-content-item {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 500;
    }
  }
}

// aside  progress bar

.yipl-course-right-side {
  flex-basis: 30%;

  .block-region .block_yipl {
    margin-bottom: 32px !important;
    border: 1px solid #c8c6c9;
    border-radius: 8px;
    padding: 32px 40px !important;
    background: $white;
    color: #5f5f63;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    & > .card-body {
      padding: 0 !important;
    }

    .my-enrolled-course > p:first-child,
    .block-header .card-title {
      font-weight: 600;
      font-size: 22px;
      line-height: 1.2;
      color: $N-50;
      margin-bottom: 16px;
    }

    .block-header {
      margin-bottom: 0 !important;

      h3.card-title {
        margin-bottom: 32px;
        display: inline-block !important;
      }
    }
  }

  // Enroll btn in progress bar
  .block_yipl-progress-bar:has(.enrol-now > .btn-enrol) {
    padding: 0 !important;
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }

  .enrol-now {
    display: flex;
    justify-content: end;

    .btn-enrol {
      border-radius: 4px;
      padding: 12px 48px;
      transition: all 0.2s ease;
      font-size: 18px;
      line-height: 1.4;
    }
  }

  .course-fields-data-wrapper {
    & > div:not(:last-child) {
      margin-bottom: 24px;
    }
    & > div {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0;
      column-gap: 8px;
    }

    .yipl_skill_level {
      .info-value {
        background: #ebf0ff;
        padding: 8px 16px;
        text-transform: uppercase;
        color: #2460b9;
      }
    }
    .info-label {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #2f3034;
    }

    .info-value {
      margin-left: auto;
      color: #5f5f63;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .yipl_learning_objective {
    ul {
      margin: 0;
      padding-left: 28px;

      li {
        margin-bottom: 20px;
        list-style-type: none;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          background: url(/theme/yipl/pix/icons/check.svg) no-repeat;
          width: 20px;
          height: 20px;
          top: 6px;
          left: -26px;
        }
      }
    }
  }
}

.progress {
  height: 20px;
  overflow: hidden;
  background-color: #eef5f9;
  width: inherit;
  border-radius: 4px !important;

  .progress-percentage {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #2f3034;
  }
}

@include mq(md, max) {
  .course-detail-wrapper {
    flex-direction: row;
    padding-block: 60px;
    .yipl-course-right-side,
    .yipl-course-main-area {
      flex-basis: 100%;
    }

    .yipl-course-right-side {
      margin-top: 40px;
    }
  }

  .yipl-course-right-side .enrol-now {
    justify-content: center;
  }
}

.secondary-navigation .navigation .nav-tabs {
  max-width: 100%;
}
