$primary: #012757; //B-40
$secondary: #c50733; //B-30
$tertiary: #e67e23; //M-30
$black: #1b1b1d; //N-50
$white: #ffffff; //N-0

// Blue
$B-0: #ebf0ff;
$B-10: #81abfb;
$B-20: #2460b9;
$B-30: #00367a;
$B-40: #012757; //primary
$B-50: #01152e;

//Red
$R-0: #ffeceb;
$R-10: #ffb3b5;
$R-20: #ff5264;
$R-30: #c50733; //secondary
$R-40: #920021;
$R-50: #410009;

//Mustard
$M-0: #ffede1;
$M-10: #ffdcc4;
$M-20: #ffb782;
$M-30: #e67e23; //tertiary
$M-40: #954a00;
$M-50: #502500;

//Neutral
$N-0: #ffffff; //white
$N-10: #f8f8fc;
$N-20: #c8c6c9;
$N-30: #5f5f63;
$N-40: #2f3034;
$N-50: #1b1b1d; //black
