{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_yipl/pages/report/timetrack_report
}}

<div class="timetrack_report row">

    {{#timetrack_course}}
    <div class="course_list" style="max-width: 33%;">
        <h3>Course Name: </h3>
        <ol>
            {{#course_list}}
                <li>
                    <a href="{{path}}?type=timetrack&course_id={{course_id}}" >{{course_name}}</a>
                </li>
            {{/course_list}}
        </ol>
    </div>
    {{/timetrack_course}}

    {{^timetrack_course}}
    <div>
        data not available
    </div>
    {{/timetrack_course}}


    {{#particular_course}}
    <div class="particular_course">
        <div class="particular_course_name">
            Course Name : {{particular_course_name}}
        </div>
        <table class="particular-course-user  flexible generaltable generalbox">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>User Name</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {{#particular_course_users}}
                <tr>
                    <td>{{sn}}</td>
                    <td>
                        <a href="{{path}}?type=timetrack&course_id={{course_id}}&user_id={{user_id}}">
                        {{user_name}}
                        </a>
                    </td>
                    <td>{{duration}}</td>
                </tr>
                {{/particular_course_users}}
            </tbody>
        </table>
    </div>
    {{/particular_course}}


    {{#course_user_activity}}
    <div class="course-duration-info">

        {{#course_name}}
        <div class="filter-container">
            Course Name: <a href="{{path}}?type=timetrack&course_id={{course_id}}">
                            {{course_name}} </a> 
        </div>
        {{/course_name}}

        {{#user_id}}
        <div class="filter-container">
            User Name: <span>{{user_name}}</span>
        </div>
        {{/user_id}}

        <table class="particular-course-activity  flexible generaltable generalbox">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Course Chapter Name</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {{#records}}
                <tr>
                    <td>
                        {{sn}}
                    </td>
                    <td>
                        {{course_module_name}}
                    </td>
                    <td>
                        {{duration}}
                    </td>
                </tr>
                {{/records}}
            </tbody>
        </table>
    </div>
    {{/course_user_activity}}



</div>
