{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_yipl/pages/report/user_report
}}

<div class="user-report">

    <div class="header-container d-flex mb-3" style="justify-content: space-between;">
        <div class="title">
            <h3>
               Users Lists 
            </h3>
        </div>
        {{> theme_yipl/parts/search-form}}
       
    </div>

    <div class="no-overflow">
    {{#has_data}}
        <table id="table-user-report" class="yipl-user-report-table flexible generaltable generalbox ">
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Context and Roles</th>
                    <th>Last access</th>
                </tr>
            </thead>
            <tbody>
                {{#user_info}}
                <tr>
                    <td>{{sn}}</td>
                    <td class="d-flex ">
                        <a class="d-flex justify-content-start" href="{{profile_link}}">
                            <img src="{{profileimage_link}}" alt="" style="max-width:50px; max-height:50px">
                            <p class="pl-3 d-flex flex-column justify-content-start" > 
                                <span>{{firstname}} {{lastname}}</span> 
                                <span>({{username}})</span>
                            </p>
                        </a>
                    </td>
                    <td>{{email}}</td>
                    <td>
                        <ul>
                            {{#sys_roles}}
                                <li>{{.}}</li>
                            {{/sys_roles}}
                            {{#enrolled_courses}}
                                <li> 
                                    <a href="{{course_link}}">{{fullname}}</a> : 
                                    {{#course_user_roles}}
                                        <span>{{name}}</span>
                                    {{/course_user_roles}}
                                </li>
                            {{/enrolled_courses}}
                        </ul>
                    </td>
                    <td>{{lastaccess}}</td>
                </tr>
                {{/user_info}}
            </tbody>
        </table>
        {{{pagination}}}
    {{/has_data}}
    <div></div>
    </div>

</div>