.block_yipl-contact-us {
  padding-inline: 1rem;
  padding-block: 80px;
  background-color: transparent;
  border: 0;
  border-radius: 0;

  & > .card-body {
    padding: 0 !important;
  }
}

.block-yipl-contact-us-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;

  .contact-us-info {
    flex-basis: 48%;
    padding: 0;
    margin-inline: 0;

    h2 {
      font-size: 36px;
      line-height: 1.2;
      color: $N-50;
      margin-bottom: 40px;
      font-weight: 400;
    }
  }

  #map-canvas iframe {
    width: 100%;
    height: 303px;
    border: 0;
  }

  .contact-us-form {
    flex-basis: 50%;
  }

  .contact-detail {
    margin: 56px 0 0;
    padding: 24px;
    border: 1px solid #ebf0ff;
    border-radius: 8px;
    background: $white;
    display: flex;
    flex-wrap: wrap;

    .location {
      display: flex;
      width: 50%;
      gap: 8px;

      img {
        width: 16px;
        height: 16px;
        margin-top: 6px;
      }
    }

    .contact-detail-tel-mail {
      width: 50%;
    }

    .contact-tel,
    .contact-email {
      display: flex;
      gap: 6px;

      img {
        width: 16px;
        height: 16px;
        margin-top: 6px;
      }
    }
  }
}

.contac-us-form {
  padding: 40px;
  box-shadow: 10px 10px 50px 3px rgba(95, 95, 99, 0.11);
  border-radius: 12px;
  background-color: $white;
  max-width: 42%;

  input,
  textarea {
    border-radius: 4px;
  }

  label {
    font-size: 14px;
  }

  .btn-submit {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: $white;
    padding: 10px 24px;
    background: $B-20;
    border-radius: 4px;
    transition: all 0.2s ease;
    margin-bottom: 0;
  }
}

@include mq(md-lg, max) {
  .block-yipl-contact-us-wrap {
    .contact-us-info,
    .contac-us-form {
      flex-basis: 100%;
    }
  }

  .contac-us-form {
    max-width: 100%;
  }
}

@include mq(xs, max) {
  .block-yipl-contact-us-wrap .contact-detail {
    .location,
    .contact-detail-tel-mail {
      width: 100%;
    }
  }
}
