.d-flex {
  display: flex !important;
  @media (min-width: 786) {
    align-items: center;
  }
}

.form-control {
  background-color: #f6f7f8 !important;
  border: 1px solid;
  border-radius: 8px;
  border: 1px solid #e7ecf2;
  box-shadow: 0px 8px 24px 0px rgba(255, 255, 255, 0.05);
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
input[type="checkbox"] {
  accent-color: #ee6932 !important;
  margin-right: 4px;
}
input[type="checkbox"]:not(:checked) {
  position: relative;
  &::after {
    content: " ";
    position: absolute;
    height: 13px;
    width: 13px;
    top: 0;
    left: 0;
    border: 1px solid #ee6932;
    border-radius: 2px;
    z-index: 10;
    background-color: #fff;
    opacity: 1;
  }
}

.filter-options-wrapper {
  input[type="checkbox"]:not(:checked) {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      height: 13px;
      width: 13px;
      top: 4px;
      left: 0;
      border: 1px solid #ee6932;
      border-radius: 2px;
      z-index: 10;
      background-color: #fff;
      opacity: 1;
    }
  }
}

.form-check-input {
  position: static;
}
