.popup {
  display: none;
}
.popup.active-popup {
  display: block;
}

.student-info-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 622px;
  padding: 32px;
  border: 1px solid F6F7F8;
  box-shadow: 0px 8px 24px 0px rgba(143, 156, 169, 0.15);
  background-color: white;
  border-radius: 8px;

  h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
  }
  p {
    padding: 16px 0;
  }
}

.student-popup-backdrop {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.student-info-popup {
  button {
    padding: 10px 32px;
    background-color: #ee6932;
    border-radius: 4px;
    border: none;
    color: white;
  }
}
.btn-container {
  display: flex;
  justify-content: center;
}

.student-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background-color: transparent;
    display: flex;
    justify-content: end;
    padding: 5px 0 5px 5px;
  }
}

.locked-cm {
  display: flex;
  svg {
    margin: 0 8px;
  }
}
