{{#hasblocks}}
<div class="drawer-toggler drawer-right-toggle ml-auto d-print-none">
    <button class="btn icon-no-margin" data-toggler="drawers" data-action="toggle"
        data-target="theme_skilllab-drawers-blocks" data-toggle="tooltip" data-placement="right"
        title="{{#str}}opendrawerblocks, core{{/str}}">
        <span class="sr-only">{{#str}}opendrawerblocks, core{{/str}}</span>
        <span class="dir-rtl-hide">{{#pix}}t/blocks_drawer, core{{/pix}}</span>
        <span class="dir-ltr-hide">{{#pix}}t/blocks_drawer_rtl, core{{/pix}}</span>
    </button>
</div>
{{/hasblocks}}