{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/footer

    Page footer.
}}

<footer id="page-footer" class="yipl-footer bg-white">
    <div class="px-3">
        <div class="footer-wrapper container">
            <div class="footer-items">
                <div class="site-name footer-desc">
                    <div class="logo-wrapper">
                        {{# output.get_logo_url }}
                            <img src="{{output.get_logo_url}}" class="logo me-1" alt="{{sitename}}">
                            {{# output.get_theme_yipl_logo_description }}
                            <div class="logo-description">  
                            {{{output.get_theme_yipl_logo_description}}}
                            </div>
                            {{/ output.get_theme_yipl_logo_description }}
                        {{/ output.get_logo_url }}
                        {{^ output.get_logo_url }}
                            {{{ sitename }}}
                        {{/ output.get_logo_url }}
                    </div>
                    {{#footersettings.footer_description}}
                    <div class="footer_description">{{footersettings.footer_description}}</div>
                    {{/footersettings.footer_description}}
                </div>
                {{#footersettings.footer_menu}}
                <div class="footer-menu {{label_class}} ">
                    <div class="label">
                        {{label}}
                    </div>
                    {{#items_present}}
                    <ul class="items">
                    {{#items}}
                        <li>
                            <a href="{{link}}">{{title}}</a>
                        </li>
                    {{/items}}
                    </ul>
                    {{/items_present}}
                </div>
                {{/footersettings.footer_menu}}
                {{#footersettings.footer_contact_section}}
                {{^contacstettings.isEmpty}}
                <div class="footer-menu contact-detail">
                    <div class="label">
                        {{#footersettings.footer_contact_section_label}}
                        {{footersettings.footer_contact_section_label}}
                        {{/footersettings.footer_contact_section_label}}
                        {{^footersettings.footer_contact_section_label}}
                        Contact Detail
                        {{/footersettings.footer_contact_section_label}}
                    </div>
                    <ul class="items">
                        <li class="location-address">
                            {{contacstettings.location_address}}
                        </li>
                        <li class="mail">
                           Email: <a href="mailto:{{mail}}">{{contacstettings.mail}}</a>
                        </li>
                        <li class="website">
                            <a href="{{contacstettings.website}}">{{contacstettings.website}}</a>
                        </li>
                        <li class="phone_number">
                            Phone: 
                            {{#contacstettings.phone_number}}
                            <a href="tel:{{.}}">{{.}}</a>
                            {{/contacstettings.phone_number}}
                        </li>
                        <li class="other_contact_info">
                            {{{contacstettings.other_contact_info}}}
                        </li>
                    </ul>
                    {{#contacstettings.social_link}}
                    <div class="social_link">
                        {{#facebook}}
                        <div class="facebook social_icon">
                            <a href="{{facebook}}" > 
                                <img src="{{{ output.wwwpath}}}/theme/yipl/pix/icons/facebook.svg" alt="facebook-icon">
                            </a>
                        </div>
                        {{/facebook}}
                        {{#twitter}}
                        <div class="twitter social_icon">
                            <a href="{{twitter}}" > 
                                <img src="{{{ output.wwwpath}}}/theme/yipl/pix/icons/twitter.svg" alt="twitter-icon">
                            </a>    
                        </div>
                        {{/twitter}}
                        {{#linkedin}}
                        <div class="linkedin social_icon">
                            <a href="{{linkedin}}" > 
                                <img src="{{{ output.wwwpath}}}/theme/yipl/pix/icons/linkedin.svg" alt="linkedin-icon">
                            </a>
                        </div>
                        {{/linkedin}}
                        {{#instagram}}
                        <div class="instagram social_icon">
                            <a href="{{instagram}}" > 
                                <img src="{{{ output.wwwpath}}}/theme/yipl/pix/icons/instagram.svg" alt="instagram-icon">
                            </a>
                        </div>
                        {{/instagram}}
                    </div>
                    {{/contacstettings.social_link}}
                </div>
                {{/contacstettings.isEmpty}}
                {{/footersettings.footer_contact_section}}
                </div>
            </div>
        </div>
    </div>
    <div class="copyright px-3">
        <div class="container footer-copyright">
        {{footersettings.copyright}}
        </div>    
    </div>

    {{{ output.standard_footer_html }}}
    {{{ output.standard_end_of_body_html }}}

    <div class="footer-content-debugging footer-dark bg-dark text-light">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>

</footer>

