.fa-chevron-down,
.fa-chevron-right {
  color: #3586a5 !important;
}
.icon {
  font-size: 12px !important;
}
.btn.btn-icon:hover,
.btn.btn-icon:focus {
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
}
